<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Havainto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<div class="col-md-4" ><h3>Voit jättää palautteesi tänne.</h3></div>
<div  class="container">
	<div>
	<form th:object="${havainto}" th:action="@{save}" action="#" method="post">
			
			<div style="clear: both; display: block; height: 10px;"></div>
    		<label for="hdate">Pävämäärä</label>
			<input type="date" id="hdate" th:field="*{pvm}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="fname">Havainto</label>
			<input type="text" id="fname" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		

			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="deplist">Suunta</label>
			 <select id="deplist" th:field="*{suunta}" class="form-control">
       			<option th:each="su: ${suunnat}" th:value="${su.suuntaid}" th:text="${su.osa}"></option>
    		</select>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="typlist">Tyyppi</label>
			 <select id="typlist" th:field="*{tyyppi}" class="form-control">
       			<option th:each="ty: ${tyypit}" th:value="${ty.tyyppiid}" th:text="${ty.seloste}"></option>
    		</select>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="tillist">Tila</label>
			 <select id="tillist" th:field="*{tila}" class="form-control">
       			<option th:each="ti: ${tilat}" th:value="${ti.tilaid}" th:text="${ti.tilassa}"></option>
    		</select>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
    		<label for="lname">Ilmoittajan nimi</label>
			<input type="text" id="lname" th:field="*{ilmoittaja}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	
	</div>
</div>
</body>
</html>
